<main class="p-5">
    <div class="row g-5">
        <div class="col-12">            
                <label class="form-label">Email address</label>
                <input class="form-control">
                <div class="form-text text-danger">Error. You need to set correct email</div>             
        </div>
        <div class="col-12">        
            <label class="form-label">Email address</label>
            <input type="color" class="form-control">
            <div class="form-text text-danger">Error. You need to set correct email</div>        
        </div>
       </div>
</main>