
<body class="p-5">
<h3>Cписок сторінок</h3>
<p >Тут вам потрібно написати інформацію про ваш проєкт.
Поки що можна написати будь-який текст</p>
<table>
  <tr>
    <td><button ><a href="Summary">Summary</a></button></td>
    <td><button class="btn btn-primary"><a href="Skills">Skills</a></button></td>
    <td><button class="btn btn-primary"><a href="Education">Education</a></button></td>
  </tr>
  <tr>
    <td><button class="btn btn-primary"><a href="Work">Work</a></button></td>
    <td><button class="btn btn-primary"><a href="Work">Work</a></button></td>
    <td><button class="btn btn-primary"><a href="Bio">Bio</a></button></td>
  </tr>
  <tr>
    <td><button class="btn btn-primary"><a href="JS">JS</a></button></td>
    <td><button class="btn btn-primary"><a href="JS">JS</a></button></td>
    <td><button class="btn btn-primary"><a href="Car">Car</a></button></td>
  </tr>
  <tr>
    <td><button class="btn btn-primary"><a href="Facebook">Facebook</a></button></td>
    <td><button class="btn btn-primary"><a href="task21">task21</a></button></td>
    <td><button class="btn btn-primary"><a href="task22">task22</a></button></td>
  </tr>
  <tr>
    <td><button class="btn btn-primary"><a href="shopcard">shopcard</a></button></td>
    <td><button class="btn btn-primary"><a href="shopreview">shopreview</a></button></td>
    <td><button class="btn btn-primary"><a href="task31">task31</a></button></td>
  </tr>
</table>




    
</body>




