
<body class="p-5">
<h3>Cписок сторінок</h3>
<p >Тут вам потрібно написати інформацію про ваш проєкт.
Поки що можна написати будь-який текст</p>
<div class="p-5">
<table>
    <tr>
    <td class="p-2"><a href="Summary" class="btn btn-primary" style="width: 100px;">Summary</a></td>
    <td class="p-2"><a href="Skills" class="btn btn-primary" style="width: 100px;">Skills</a></td>
    <td class="p-2"><a href="Education" class="btn btn-primary" style="width: 100px;">Education</a></td>
  </tr>
  <tr >
    <td class="p-2"><a href="Work" class="btn btn-primary" style="width: 100px; p-5">Work</a></td>
    <td class="p-2"><a href="Work" class="btn btn-primary" style="width: 100px;">Work</a></td>
    <td class="p-2"><a href="Bio" class="btn btn-primary" style="width: 100px;">Bio</a></td>
  </tr>
  <tr>
    <td class="p-2"><a href="JS" class="btn btn-primary" style="width: 100px; p-5">JS</a></td>
    <td class="p-2"><a href="JS" class="btn btn-primary" style="width: 100px;">JS</a></td>
    <td class="p-2"><a href="Car" class="btn btn-primary" style="width: 100px;">Car</a></td>
  </tr>
  <tr>
    <td class="p-2"><a href="Facebook" class="btn btn-primary" style="width: 100px; p-5">Facebook</a></td>
    <td class="p-2"><a href="task21" class="btn btn-primary" style="width: 100px;">task21</a></td>
    <td class="p-2"><a href="task22" class="btn btn-primary" style="width: 100px;">task22</a></td>
  </tr>
  <tr>
    <td class="p-2"><a href="shopcard" class="btn btn-primary" style="width: 100px;">shopcard</a></td>
    <td class="p-2"><a href="shopreview" class="btn btn-primary" style="width: 100px;">shopreview</a></td>
    <td class="p-2"><a href="task31" class="btn btn-primary" style="width: 100px;">task31</a></td>
  </tr>
</table>
</div>

{{!-- <style> .btn {
    width: 100%;
    text-align: center;
  }
</style> --}}


    
</body>




